{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="{% static 'django_messages/css/django_messages.css' %}">
</head>
<body>
    <div class="bside">
        <ul class="nav">
            <a href="{% url 'messages_inbox' %} "><li> Ваши сообщения</li></a>
            <a href="{% url 'messages_outbox' %} "><li> Отправленные сообщения</li></a>
            <a href="{% url 'messages_compose' %} "><li> Новое сообщение</li></a>
            <a href="{% url 'messages_trash' %} "><li> Корзина</li></a>
        </ul>
    </div>
    <aside class="aside">
        <ul class="nav">
            {% if request.user.is_authenticated %}
            <li class="name"> {{user.username}}</li>
            <a href="{% url 'home' %}"><li> Главная</li></a>
            <a href="{% url 'messages_inbox' %} "><li> Чат</li></a>
            <a href="{% url 'about' %}"><li> Про нас</li></a>
            <a href="{% url 'contacts' %}"><li> Контакты</li></a>
            <a href="{% url 'logout' %}"> <li class="out">Выйти</li></a></li>
            {% else %}
            <a href="{% url 'register' %}"><li class="reg">Регистрация</li></a>
            <a href="{% url 'login' %}"><li class="log">Войти</li></a>
            <a href="{% url 'home' %}"><li> Главная</li></a>
            <a href="{% url 'messages_inbox' %} "><li> Чат</li></a>
            <a href="{% url 'about' %}"><li> Про нас</li></a>
            <a href="{% url 'contacts' %}"><li> Контакты</li></a>
            {% endif %}
        </ul>
    </aside>
<main>
    {% block content %}

    {% endblock %}
</main>
</body>
</html>