{% extends 'main/layout.html' %}

{% block title %}О нас{% endblock %}

{% block content %}
	<div class="features">
		<h1>О нас</h1>
		<p class="about">Нас не догонят...

Только скажи
Дальше нас двое
Только огни
Аэродрома
Мы убежим
Нас не догонят
Дальше от них
Дальше от дома
Ночь-проводник
Спрячь наши тени
За облака
За облаками
Нас не найдут
Нас не изменят
Им не достать
Звезды руками

Припев:
Небо уронит
Ночь на ладони
Нас не догонят
Нас не догонят

Небо уронит
Ночь на ладони
Нас не догонят
Нас не догонят

Нас не догонят...

Мы убежим
Все будет просто
Ночь упадет
Небо уронит
И пустота
На перекрестках
И пустота
Нас не догонят
Не говори
Им непонятно
Только без них
Только не мимо
Лучше не так
Но не обратно
Только не с ними
Только не с ними

Только не с ними

Нас не догонят...

Припев:
Небо уронит
Ночь на ладони
Нас не догонят
Нас не догонят

Небо уронит
Ночь на ладони
Нас не догонят
Нас не догонят

Нас не догонят...</p>
	</div>
{% endblock %}